/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styles */

html {
  font-family: "Helvetica Neue","Helvetica","Arial","Lucida Grande","KaiTi","楷体","STKaiti","华文楷体",sans-serif;
  font-size: 3vh;
}

/* Let's use vh instead of media queries */
/*@media screen and (min-height: 640px) { html { font-size: 20px; } }*/
/*@media screen and (min-height: 730px) { html { font-size: 22px; } }*/
/*@media screen and (min-height: 900px) { html { font-size: 28px; } }*/
/*@media screen and (min-height: 1000px) { html { font-size: 30px; } }*/
/*@media screen and (min-height: 1200px) { html { font-size: 40px; } }*/

html, body, #root {
  height: 100%;
}

a {
  color: cornflowerblue;
}