@import '../style/colors';

.container {
  @include modal-container();
}

.modal {
  @include modal();

  text-align: center;
}

.button {
  margin-top: 1em;
  width: 60%;
}

.loggedInUserName {
  font-weight: bold;
}

.accordion {
  transition: height ease-in-out 200ms;
  overflow-y: hidden;
  max-height: 0;

  &Active {
    max-height: 5em;
  }
}