@import '../style/colors';

.container {
  @include modal-container();
}

.modal {
  @include modal();

  text-align: center;
}

.button {
  margin-top: 1em;
  width: 60%;
}

.loggedIn {
  &Message {
    transition: height ease-in-out 200ms;
    overflow-y: hidden;
    height: 0;
    line-height: 1.5em;

    &Active {
      height: 1.5em;
    }
  }

  &UserName {
    font-weight: bold;
  }
}