.container {
  height: 100%;
  width: 100%;

  font-family: Helvetica, sans-serif;
}

.loadingPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}