$color-primary: #b90008;
$color-secondary: #ffc86f;
$color-light: #ffefd5;
$color-dark: #3c495d;
$color-light-grey: #cfcfcf;
$color-medium-grey: #afafaf;
$color-white: #fefefe;
$color-black: #101010;

:export {
  primary: $color-primary;
  secondary: $color-secondary;
  light: $color-light;
  dark: $color-dark;
  white: $color-white;
  black: $color-black;
}
