.container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  box-sizing: border-box;
  width: 12em;
  height: 15em;
  border-radius: 6px;
  overflow-y: auto;
  background-color: white;
}

.showDefinition {
  justify-content: flex-start;
}

.character {
  font-size: 8em;
  align-self: center;
}

.definition {
  word-break: break-word;
  font-size: 1.5em;
  margin: 0 5%;
  flex-grow: 1;
}

.pinyin {
  font-size: 2em;
  margin: 0.2em 5%;
}

.markedUnknown {

}

.markedKnown {

}