@import '../style/colors';

$color-light-shades-light: lighten($color-light-shades, 3%);

.container {
  min-height: 100%;
  font-size: 6vw;

  @media screen and (min-width: 400px) {
    font-size: 5vw;
  }

  @media screen and (min-width: 640px) {
    font-size: 32px;
  }
}

.card {
  &RowContainer {
    padding-top: 2.4em;
  }

  &Row {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    max-width: 640px;
    margin: auto;

    &Color {
      width: 100%;
      background-color: $color-light-shades-light;

      &:nth-child(2n) {
        background-color: $color-white;
      }
    }
  }

  &CharacterColumn {
    width: 25%;
    font-size: 2em;
    text-align: center;

    span {
      display: inline-block;
      margin: .25em;
      border: .05em solid $color-dark-accent;
      border-radius: .1em;
      line-height: 1.2;
      background-color: $color-white;
    }
  }

  &PinyinDefColumn {
    width: 75%;
  }

  &PinyinDefRow {
    display: flex;
    padding-bottom: .25em;
  }

  &PinyinColumn {
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      display: inline-block;
      margin: .5em 0;
    }
  }

  &DefColumn {
    width: 70%;

    span {
      display: inline-block;
      margin: .5em .5em 0 0;
      line-height: 1.2;
      overflow-y: hidden;
      max-height: 3.7em;
      text-overflow: ellipsis;
      position: relative;
    }
  }
}

.actionButton {
  font-size: .6em;
  margin: .5em .5em;

  &Container {
    box-shadow:
      0 16px 38px -12px transparentize($color-dark-shades, .5),
      0 4px 25px 0px transparentize($color-dark-shades, .88);
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: $color-dark-shades;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.skritter {
  &Container {
    display: none; // TODO: enable this feature
    align-items: center;
  }

  &UserName {
    color: $color-white;
    display: inline;
    margin-right: .5em;
    font-size: .8em;
  }
}
