@import '../style/colors';

$color-light-light: lighten($color-light, 3%);

.container {
  min-height: 100%;
}

.card {
  &RowContainer {
    font-size: 6vw;
    margin-bottom: 6.4rem;

    @media screen and (min-width: 400px) {
      font-size: 5vw;
    }

    @media screen and (min-width: 640px) {
      font-size: 32px;
    }
  }

  &Row {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    max-width: 640px;
    margin: auto;

    &Color {
      width: 100%;
      background-color: $color-light-light;

      &:nth-child(2n) {
        background-color: $color-white;

        .cardDefColumn span:after {
          background: linear-gradient(transparentize($color-white, .99), $color-white 80%);
        }
      }
    }
  }

  &CharacterColumn {
    width: 25%;
    font-size: 2em;
    text-align: center;

    span {
      display: inline-block;
      margin: .25em;
      border: .05em solid $color-dark;
      border-radius: .1em;
      line-height: 1.2;
      background-color: $color-white;
    }
  }

  &PinyinDefColumn {
    width: 75%;
  }

  &PinyinDefRow {
    display: flex;
  }

  &PinyinColumn {
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      display: inline-block;
      margin: .5em 0;
    }
  }

  &DefColumn {
    width: 70%;

    span {
      display: inline-block;
      margin: .5em .5em 0 0;
      line-height: 1.2;
      overflow-y: hidden;
      max-height: 3.5em;
      text-overflow: ellipsis;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1.6em;
        top: 2em;
        background: linear-gradient(transparentize($color-light-light, .99), $color-light-light 80%);
      }
    }
  }
}

.actionButton {
  &Container {
    box-shadow: rgba(70, 20, 0, .6) 0 .1em .4em 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: $color-white;
  }

  margin: 1.5rem .5rem;
}