@import '../style/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.resultsDisplay {

}

.actionContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.action {
  margin-bottom: 1rem;
}

.feedbackBar {
  text-align: center;
  color: $color-dark;
  line-height: 1.5;
}