.TestCardStack {
  display: flex;
  justify-content: center;
}

.TestCard {
  opacity: 1;
  transform: translateX(0) translateY(0) rotateZ(0);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  box-sizing: border-box;
  width: 12em;
  height: 15em;
  border-radius: 3px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
}

.TestCard--showDefinition {
  justify-content: flex-start;
}

.TestCard__character {
  font-size: 8em;
  align-self: center;
}

.TestCard__definition {
  word-break: break-word;
  font-size: 1.5em;
  margin: 0 0.5em;
}

.TestCard__pinyin {
  font-size: 2em;
  min-height: 1.5em;
  line-height: 1.5em;
  margin: 0.2em 0;
}

.cardSwipe-leave {
  transform: translateX(0);
}

/* Leave animation */

.TestCard--markedUnknown.cardSwipe-leave,
.TestCard--markedKnown.cardSwipe-leave
{
  opacity: 0.01;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.TestCard--markedUnknown.cardSwipe-leave.cardSwipe-leave-active {
  background-color: #fee;
  transform: translateX(-150%) translateY(50%) rotateZ(-10deg);
}

.TestCard--markedKnown.cardSwipe-leave.cardSwipe-leave-active {
  background-color: #efe;
  transform: translateX(150%) translateY(50%) rotateZ(10deg);
}

/* Enter animation */
.TestCard--markedUnknown.cardSwipe-enter,
.TestCard--markedKnown.cardSwipe-enter {
  opacity: 0.001;
  z-index: 1;
}


.TestCard--markedUnknown.cardSwipe-enter {
  background-color: #fee;
  transform: translateX(-150%) translateY(50%) rotateZ(-10deg);
}

.TestCard--markedKnown.cardSwipe-enter {
  background-color: #efe;
  transform: translateX(150%) translateY(50%) rotateZ(10deg);
}

.TestCard--markedUnknown.cardSwipe-enter.cardSwipe-enter-active,
.TestCard--markedKnown.cardSwipe-enter.cardSwipe-enter-active
{
  transition: transform 100ms ease-in, opacity 100ms ease-in;
  opacity: 1;
  transform: translateX(0) translateY(0) rotateZ(0);
}