.button {
  font-size: 1rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  background-color: cornflowerblue;
  border: none;
  border-radius: 1.5rem;
  color: white;

  touch-action: manipulation;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(0, 20, 40, .7) 0 .08rem .2rem 0;

  transition: transform ease-in-out 50ms, box-shadow ease-in-out 50ms;

  &:active {
    transform: translateY(.08rem);
    box-shadow: rgba(0, 20, 40, .7) 0 0 0.05rem 0;
  }
}
