@import '../style/colors';

.button {
  font-size: 1rem;
  line-height: 3rem;
  padding: 0 1.3rem;
  background-color: $color-primary;
  border: .2rem solid darken($color-primary, 5%);
  border-radius: 1.7rem;
  color: $color-white;
  cursor: pointer;
  box-sizing: border-box;

  touch-action: manipulation;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(70, 20, 0, .6) 0 .1rem .4rem 0;

  transition:
    transform ease-in-out 50ms,
    box-shadow ease-in-out 50ms,
    background-color ease-in-out 100ms,
    border-color ease-in-out 100ms;

  &:active {
    transform: translateY(.08rem);
    box-shadow: rgba(0, 20, 40, .7) 0 0 0.05rem 0;
  }

  &:hover {
    background-color: lighten($color-primary, 5%);
  }

  svg {
    transition: fill ease-in-out 100ms;
  }
}

.secondary {
  background-color: $color-secondary;
  color: darken($color-secondary, 40%);
  border-color: lighten($color-secondary, 10%);

  &:hover {
    background-color: lighten($color-secondary, 5%);
  }

  svg {
    fill: darken($color-secondary, 40%) !important;
  }
}

.disabled, .disabled:hover {
  box-shadow: none;
  background-color: $color-light-grey;
  color: $color-medium-grey;
  border-color: $color-medium-grey;

  svg {
    fill: $color-medium-grey !important;
  }
}
