@import '../style/colors';

@mixin buttonColor(
  $bgColor,
  $fgColor,
  $bgColorDisabled: $color-light-grey,
  $fgColorDisabled: $color-medium-grey
) {
  background-color: $bgColor;
  color: $fgColor;

  &:hover { background-color: lighten($bgColor, 5%); }

  svg { fill: $fgColor !important;  }

  &.disabled, &.disabled:hover, &.disabled:active {
    cursor: default;
    box-shadow: none;
    background-color: $bgColorDisabled;
    color: $fgColorDisabled;
    transform: none;

    svg {
      fill: $fgColorDisabled !important;
    }
  }
}

.button {
  @include buttonColor($color-brand-color, $color-white);

  font-size: 1rem;

  @media screen and (max-aspect-ratio: 1/2) {
    font-size: .8rem;
  }

  line-height: 3em;
  padding: 0 1.5em;
  border: none;
  border-radius: 1.7em;
  cursor: pointer;
  box-sizing: border-box;

  touch-action: manipulation;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(0, 20, 70, .6) 0 .1em .4em 0;

  transition:
    transform ease-in-out 50ms,
    box-shadow ease-in-out 50ms,
    background-color ease-in-out 100ms;

  &:active {
    transform: translateY(.08em);
    box-shadow: rgba(0, 20, 40, .7) 0 0 0.05em 0;
  }

  svg {
    transition: fill ease-in-out 100ms;
  }
}

.secondary {
  @include buttonColor(lighten($color-light-accent, 20%), $color-dark-shades);
}

.success {
  @include buttonColor(
    $color-success,
    darken($color-success, 40%),
    lighten(desaturate($color-success, 20%), 30%),
    lighten(desaturate(darken($color-success, 20%), 30%), 30%)
  );
}

.danger {
  @include buttonColor(
    $color-danger,
    darken($color-danger, 40%),
    lighten(desaturate($color-danger, 20%), 30%),
    lighten(desaturate(darken($color-danger, 20%), 30%), 30%)
  );
}
