@import '../style/colors';

.span {
  display: block;

  &--tiny {
    width: .75rem;
    height: .75rem;
    line-height: .75rem;
    min-width: .75rem;
    min-height: .75rem;
    font-size: .75rem;
  }

  &--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    font-size: 1.5rem;
  }

  &--medium {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    font-size: 2rem;
  }

  &--large {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    font-size: 4rem;
  }
}

.undoIcon, .searchIcon {
  .svg {
    fill: white;
  }
}

.loadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @keyframes rotate {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
  }

  span {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;

    &:nth-child(1) {
      font-size: .2em;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: $color-white;
    }

    &:nth-child(n+2) {
      border: .05em solid $color-primary;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      border-bottom-color: transparent;
      border-left-color: transparent;
      animation-name: rotate;
    }
    &:nth-child(2) { animation-duration: 6400ms; width: 100%; height: 100%; }
    &:nth-child(3) { animation-duration: 3200ms; width:  85%; height:  85%; }
    &:nth-child(4) { animation-duration: 1600ms; width:  70%; height:  70%; }
    &:nth-child(5) { animation-duration:  800ms; width:  55%; height:  55%; }
  }

}