.button {
  font-size: 1rem;
  line-height: 64px;
  padding: 0 32px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 32px;
  color: white;

  touch-action: manipulation;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(0, 20, 40, .7) 0 2px 5px 0;

  transition: transform ease-in-out 50ms, box-shadow ease-in-out 50ms;

  &:active {
    transform: translateY(2px);
    box-shadow: rgba(0, 20, 40, .7) 0 0 1px 0;
  }
}
