.span {
  display: block;

  &--tiny {
    width: 16px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    min-height: 16px;
    font-size: 16px;
  }

  &--small {
    width: 32px;
    height: 32px;
    line-height: 32px;
    min-width: 32px;
    min-height: 32px;
    font-size: 32px;
  }

  &--medium {
    width: 64px;
    height: 64px;
    line-height: 64px;
    min-width: 64px;
    min-height: 64px;
    font-size: 64px;
  }

  &--large {
    width: 128px;
    height: 128px;
    line-height: 128px;
    min-width: 128px;
    min-height: 128px;
    font-size: 128px;
  }
}

.undoIcon, .searchIcon {
  .svg {
    fill: white;
  }
}

.loadingIcon {
  //border: 1px dashed red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @keyframes rotate {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
  }

  &:after, &:before {
    content: '';
    display: block;
    border: 3px solid cornflowerblue;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
  }

  &:before {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    animation-name: rotate;
  }

  &:after {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    animation-name: rotate;
    animation-direction: reverse;
  }
}