@import '../style/colors';

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  margin: 1rem;
  height: 4rem;
  border-radius: 2rem;

  &Active {
    background-color: lighten($color-primary, 25%);
  }

  &Active &Icon svg {
    fill: $color-dark;
  }

  &Icon {
    margin: 0 -.5rem;
  }
}
