.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  margin: 1rem;
  height: 3rem;

  &Active {
    background-color: #d2e2ff;
  }

  &Active &Icon svg {
    fill: #333;
  }

  &Icon {
    margin: 0 -.75rem;
  }
}
