@import '../style/colors';

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1rem;
  margin: 1em .7em;
  height: 4.5em;
  border-radius: 2.25em;

  &Active {
    $active-color: lighten($color-danger, 20%);
    background-color: $active-color;

    &:hover {
      background-color: lighten($active-color, 5%);
    }
  }

  &Active &Icon svg {
    fill: $color-black;
  }

  &Icon {
    margin: 0 -.2em;
  }
}
