.container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: .2rem solid #666;
  box-sizing: border-box;
  width: 12rem;
  height: 15rem;
  border-radius: .4rem;
  overflow-y: auto;
  background-color: white;
}

.showDefinition {
  justify-content: flex-start;
}

.character {
  font-size: 10em;
  align-self: center;
  transform: translate3d(0, 0, 0);
}

.definition {
  word-break: break-word;
  font-size: 1.5em;
  margin: 0 5%;
  flex-grow: 1;
}

.pinyin {
  font-size: 2em;
  margin: 0.2em 5%;
}

.markedUnknown {

}

.markedKnown {

}