.container {
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  max-width: 20rem;
  display: flex;
  background-color: aliceblue;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: .5rem;
}

.paragraph, .iconParagraph {
  font-size: 1rem;
  line-height: 1.5;
}

.paragraph, .iconParagraphContainer {
  margin-bottom: 1rem;
  align-self: stretch;
}

.iconParagraph {
  margin-left: .5rem;

  &Container {
    display: flex;
    align-items: center;
  }

  &KeyboardIcon {
    min-width: 40px;
    height: 40px;
    margin: 12px;
  }
}

.fauxButton {
  min-width: 40px;
  height: 40px;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 20px;
}

.button {
  font-size: 1.2rem;
}