@import '../style/colors';

.container {
  background-color: $color-white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  max-width: 20rem;
  display: flex;
  background-color: $color-light-shades;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: .3rem;
  color: $color-black;
  box-shadow:
    0 16px 38px -12px transparentize($color-dark-shades, .5),
    0 4px 25px 0px transparentize($color-dark-shades, .88);
}

.paragraph, .iconParagraph {
  font-size: 1em;
  line-height: 1.3;
}

.paragraph, .iconParagraphContainer {
  margin-bottom: .7rem;
  align-self: stretch;
}

.iconParagraph {
  margin-left: .5rem;

  &Container {
    display: flex;
    align-items: center;
  }

  &KeyboardIcon {
    min-width: 1.8rem;
    height: 1.8rem;
    margin: 0.35rem;
  }
}

.fauxButton {
  min-width: 1.8rem;
  height: 1.8rem;
  display: flex;
  margin: .35em;
  justify-content: center;
  align-items: center;
  background-color: $color-brand-color;
  border-radius: .9rem;
}

.characterSetContainer {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
  }
}

.button {
  font-size: 1.2em;
}
